body {
  margin: 0;
  background: #028864;
  background : -webkit-linear-gradient(to right ,#0d9c84 #8fd01e);
  background : linear-gradient(to right ,#26bb93 #93de12);
  min-height : 100vh;  
  padding-top: 20px;

}

.text-grey{
  color: #aaa;
}

.minus-btn {
  font-size: 12px;
  background-color: green;
  margin-top: 5px;
  margin-left: 50px;
  margin-right: 10px;

}
.plus-btn {
  font-size: 12px;
  background-color: green;
  margin-top: 5px;
  margin-right: 100px;
  margin-left: 10px;

}

.addBtn {
  font-size: 12px;
  background-color: green;
  margin-right: 300px;
  margin-left: 20px;
}

.disabled-button {
  /* Styles for disabled button */
  opacity: 0.5; /* You can adjust the opacity to visually indicate the button is disabled */
  cursor: not-allowed; /* Change cursor to indicate that the button is not clickable */
  /* Add any other styles as needed */
}

#head {
  padding: 20px;
}

h3 {
 padding: 3px ;
}

.allproduct {
  text-align: center;
  display: block;
  /* background-color: aliceblue; */
  height: 110%;
}

.head,
.root {
  padding: 10px; /* Add padding directly to the divs */
}

.text {
 font-size: 50px;
 font-style: italic;
 color: white;
 font-weight: bold;
}

.form-bg {
background-color: #07756d;
padding: 10px 20px;
margin-bottom: 20px;
}